<div class="container">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc">

    <!-- Attacked Acc Name Column -->
    <ng-container matColumnDef="attackedAccountName">
      <th mat-header-cell *matHeaderCellDef> Account </th>
      <td mat-cell *matCellDef="let row"> {{row.deffer.player.name}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Attacked Village Column -->
    <ng-container matColumnDef="attackedVillage">
      <th mat-header-cell *matHeaderCellDef> Village </th>
      <td mat-cell *matCellDef="let row"> {{row.deffer.name}} </td>
    </ng-container>

    <!-- Attacking Acc Name Column -->
    <ng-container matColumnDef="attackingAccName">
      <th mat-header-cell *matHeaderCellDef> Attacker </th>
      <td mat-cell *matCellDef="let row"> {{row.offer.player.name}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Attacking Alliance Column -->
    <ng-container matColumnDef="attackingAllianceName">
      <th mat-header-cell *matHeaderCellDef> Alliance </th>
      <td mat-cell *matCellDef="let row"> {{row.offer.player.alliance}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Attacking Village Column -->
    <ng-container matColumnDef="attackingVillage">
      <th mat-header-cell *matHeaderCellDef> Village </th>
      <td mat-cell *matCellDef="let row"> {{row.offer.name}} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let row"> {{countTimeLeft(row.time)}} </td>
    </ng-container>

    <!-- Arrived Time Column -->
    <ng-container matColumnDef="arrivedTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrived </th>
      <td mat-cell *matCellDef="let row"> {{row.time | date:'HH:mm:ss'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="transaction" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectTransaction(row)"></tr>
  </table>
  <mat-paginator [pageSize]="12"></mat-paginator>
  <div class="button__container">
    <button class="my_button"
            type="button"
            [disabled]="dataSource.data.length == 0"
            mat-raised-button color="primary" (click)="onSave()">Send</button>
  </div>
</div>

