<div class="container">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc">

    <!-- Account Name Column -->
    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef> Account </th>
      <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Attacked Village Column -->
    <ng-container matColumnDef="attackedVillage">
      <th mat-header-cell *matHeaderCellDef> Village </th>
      <td mat-cell *matCellDef="let row"> {{row.attackedVillage}} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let row"> {{row.duration}} </td>
    </ng-container>

    <!-- Arrived Time Column -->
    <ng-container matColumnDef="arrivedTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrived </th>
      <td mat-cell *matCellDef="let row"> {{row.arrivedTime}} </td>
    </ng-container>

    <!-- Attacking Village Column -->
    <ng-container matColumnDef="attackingVillage">
      <th mat-header-cell *matHeaderCellDef> Attacker </th>
      <td mat-cell *matCellDef="let row"> {{row.attackingVillage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="transaction" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectTransaction(row)"></tr>
  </table>

  <mat-paginator [pageSize]="12"></mat-paginator>
</div>

